:root{
    --primary-color: #1A1919;

    --light-grey: #898F8F;
    --light-orange: #FFCC00;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Raleway', sans-serif;
}

html,body{
    height: 100%;
}

/* ABOUT US*/

#about-us{
    height: 100%;
    background: url("images/about-us/taldea.jpg") no-repeat center center/cover;
    box-shadow: inset 0 0 0 1000px rgba(0, 0, 0, 0.35);
}

/* NAVBAR */

#about-us .navbar{
    background-color: rgba(0,0,0, .75);
}

/* HERO */

.hero{
    position: relative;
}

.text{
    width: 50%;
    margin: 50px auto 0px;
    text-align: center;
}

.text > h5{
    color: #fff;
    font-size: 1.2em;
    font-weight: 400;
}

.text > h1{
    color: #ffd32a;
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    font-size: 4em;
}

.divider-wrapper{
    width: 50%;
    margin: auto;
    text-align: center;
}

.divider-wrapper > *{
    display: inline-block;
}

.divider{
    width: 210px;
    height: .5px;
    margin: 5px;
    background-color: var(--light-orange);
}

.layout{
    width: 100%;
    margin: 10px 0px;
    display: flex;
    position: relative;
}

.layout > *:nth-child(1),
.layout > *:nth-child(3){
    flex-basis: 100%;
}

.left{
    display: flex;
    justify-content: center;
    align-items: center;
}

.left .image-wrapper{
    position: relative;
}

.left .image-wrapper img{
    display: block;
    margin: 20px;
    width: 403px;
    height: 367px;
    border: 2px solid var(--light-orange);
}


.left .image-wrapper:after,
.left .image-wrapper:before{
    content: '';
    width: 75px;
    height: 75px;
    position: absolute;

}

.left .image-wrapper:after{
    top: 0;
    border-top: 1px solid var(--light-orange);
    border-left: 1px solid var(--light-orange);
}

.left .image-wrapper:before{
    right: 0;
    bottom: 0;
    border-right: 1px solid var(--light-orange);
    border-bottom: 1px solid var(--light-orange);
}

.separator  .divider{
    width: .5px;
    height: 500px;
}

.right .content{
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* text-align: center; */
}

.right .name{
    color: white;
    margin: 0 0 20px;
    position: relative;
    line-height: 1.5em;
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    letter-spacing: 1px;
}

.content > hr{
    width: 90px;
    border: 0px solid transparent;
    border-top: 1px solid var(--light-orange);
}

.right .job{
    color: white;
    margin: 20px 0 40px;
    position: relative;
    font-weight: 300;
    letter-spacing: 0.02em;
}

.right .biography{
    color: white;
    width: 510px;
    opacity: 0;
    text-align: center;
    font-weight: 300;
    font-size: 1.125em;
    line-height: 29px;
    letter-spacing: 0.02em;
}

.right .biography.animate{
    opacity: 1;
    transition: opacity .5s ease-in;
}

.right .boxes{
    display: flex;
    margin: 20px 0;
}

.right .boxes .box{
    width: 10px;
    height: 4px;
    margin: 5px;
    background-color: var(--light-orange);
}

.right .boxes .box.large{
    width: 20px;
}

.arrows{
    top: 50%;
    width: 100%;
    padding: 0 100px;
    display: flex;
    justify-content: space-between;
    position: absolute;
    transform: translateY(-50%);
}

.arrows i{
    color: var(--light-orange);
    cursor: pointer;
    font-size: 32px;
}

.bubbles{
    width: 50%;
    margin: 25px auto;
    cursor: default;
    text-align: center;
}

.bubble{
    width: 12px;
    height: 12px;
    margin: 0 2.5px;
    cursor: pointer;
    display: inline-block;
    border-radius: 50%;
    background-color: var(--light-orange);
}

.bubble.selected{
    border: 1px solid var(--light-orange);
    background-color: white;
}
