*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,body{
    height: 100%;
}

#home{
    width: 100%;
    height: 100%;
    background: url('../images/tanks.jpg') center center/cover no-repeat;
}

.navbar{
    background-color: rgba(0,0,0, .75);
    /* background: linear-gradient(90deg, rgb(28, 27, 27) 0%, rgb(26, 23, 23) 100%); */
}

.cards-container {
    height: 90vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-shadow: inset 0 0 0 1000px rgba(0, 0, 0, 0.2);
    object-fit: contain;
    font-family: 'Raleway', sans-serif;
}

.cards-container > h1{
    color: white;
    font-size: 52px;
    font-weight: 400;
    line-height: 67px;
    font-family: 'Raleway', sans-serif;
}

.cards-container > p{
    color: white;
    margin: 10px 0;
    font-size: 24px;
    font-weight: 300;
    line-height: 33px;
    text-align: center;
    font-family: 'Raleway', sans-serif;
}

.cards{
    display: flex;
    margin-top: 71px;
}

.cards > *{
    flex-basis: 100%;
    width: 320px;
    height: 440px;
    margin: 0 20px;
    background: rgba(17, 17, 18, 0.85);
}

.card .title{
    color: #F9F5E1;
    margin-top: 30px;
    text-align: center;
    font-size: 26px;
    font-family: "PT Sans", sans-serif;
    font-weight: 700;
    line-height: 34px;
    letter-spacing: 2px;
}

.card img{
    display: block;
    margin: auto;
}

.card .subtitle{
    margin-top: -43px;
    color: #D1CDB9;
    font-family: "PT Sans", sans-serif;
    font-weight: 700;
    font-size: 20px;
    line-height: 26px;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 0.05em;
}

.card .desc{
    color: #D1CDB9;
    width: 296px;
    height: 42px;
    margin: 15px auto;
    font-size: 16px;
    font-family: "PT Sans", sans-serif;
    font-weight: 100;
    line-height: 21px;
    text-align: center;
    letter-spacing: 0.05em;
}
